---
import Metadata from '~/components/Metadata.astro';
import Favicons from '~/components/Favicons.astro';
import Navigation from '~/components/Navigation.astro';

import '@fontsource/geist-sans';
import '../assets/styles/global.css';

import type { MetaData as MetaDataType } from '~/types';
import { ClientRouter } from 'astro:transitions';

export interface Props {
	metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<Metadata {...metadata} />
		<Favicons />
		<ClientRouter fallback="none" />

		<script
			type="text/partytown"
			async
			data-domain="wempe.dev"
			is:inline
			src="https://plausible.io/js/script.outbound-links.tagged-events.js"></script>
		<script>
			window.plausible =
				window.plausible ||
				function () {
					(window.plausible.q = window.plausible.q || []).push(arguments);
				};
		</script>

		<link rel="sitemap" href={'/sitemap-index.xml'} />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />

		<slot name="header" />

		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="text-default pb-14 antialiased">
		<Navigation currentPath={Astro.url.pathname} />
		<div class="pt-16">
			<slot />
		</div>
	</body>
</html>
