---
import BaseLayout from './BaseLayout.astro';
import type { MarkdownHeading } from 'astro';
import TableOfContents from '~/components/TableOfContents.astro';
import type { CollectionEntry } from 'astro:content';
import BlogPostJsonLd from '~/components/BlogPostJsonLd.astro';

export interface Props {
	post: CollectionEntry<'blog'>;
	headings: MarkdownHeading[];
}

const { post, headings } = Astro.props;

const metadata = {
	title: post.data.seoTitle ?? post.data.title,
	description: post.data.seoDescription ?? post.data.excerpt,
	og: {
		type: 'article' as const,
	},
};

const hasTweetEmbed = Boolean(post.body?.includes('<Tweet'));
---

<BaseLayout {metadata}>
	<Fragment slot="header">
		<BlogPostJsonLd {post} />
		<!-- Transforms basic Tweet embeds into interactive widgets -->
		<!-- see https://astro-embed.netlify.app/components/twitter/  -->
		{hasTweetEmbed && <script is:inline async src="https://platform.twitter.com/widgets.js" />}
	</Fragment>

	<div class="container mx-auto px-4 py-8">
		<div class="flex gap-20">
			<!-- match prose max-w, otherwise image etc. may be wider (at least on Firefox) -->
			<main class="max-w-prose text-lg">
				<slot />
			</main>
			<aside>
				<TableOfContents {headings} />
			</aside>
		</div>
	</div></BaseLayout
>
