---
import { Tooltips } from 'astro-tooltips';

import Metadata from '~/components/Metadata.astro';
import Favicons from '~/components/Favicons.astro';
import SocialLinks from '~/components/SocialLinks.astro';

import type { MetaData as MetaDataType } from '~/types';
export interface Props {
	metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<Metadata {...metadata} />
		<Favicons />

		<link rel="sitemap" href={'/sitemap-index.xml'} />

		<meta name="generator" content={Astro.generator} />

		<!-- <Tooltips interactive={false} delay={[15, 14000]} /> -->
	</head>
	<body class="text-default pb-14 antialiased">
		<slot />
		<SocialLinks />
	</body>
</html>
