@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Geist Sans', sans-serif;
}

@layer base {
	* {
		box-sizing: border-box;
		min-width: 0;
		/* text-box: trim-both cap alphabetic; */
	}

	:root {
		interpolate-size: allow-keywords;
	}

	html {
		text-size-adjust: 100%;
	}

	h1,
	h2,
	h3,
	h4 {
		overflow-wrap: break-word;
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;

	@media (width >= theme(--breakpoint-sm)) {
		padding-inline: 2rem;
	}
	@media (width >= theme(--breakpoint-lg)) {
		padding-inline: 4rem;
	}
	@media (width >= theme(--breakpoint-xl)) {
		padding-inline: 5rem;
	}
	@media (width >= theme(--breakpoint-2xl)) {
		padding-inline: 6rem;
	}
}

@utility print-hidden {
	@media print {
		display: none;
	}
}
