---
import { render } from 'astro:content';
import { getCollection } from 'astro:content';
import Prose from '~/components/Prose.astro';
import Layout from '~/layouts/Layout.astro';

export const prerender = true;

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);
---

<Layout>
	<div class="container mx-auto px-4 py-8">
		<!-- <p>Published on: {post.data.datePublished}</p> -->
		<Prose class="mx-auto">
			<Content />
		</Prose>
	</div>
</Layout>
