---
import { render } from 'astro:content';
import { getCollection } from 'astro:content';
import { getEntry } from 'astro:content';

export async function getStaticPaths() {
	const allBlogPosts = await getCollection('blog');
	const params = allBlogPosts.map((post) => ({
		params: { id: post.id },
	}));
	console.log(params);
	return params;
}
const { id } = Astro.params;

const entry = await getEntry('blog', id);
if (!entry) {
	// Handle Error, for example:
	throw new Error('Could not find blog post 1');
}

const { Content, headings } = await render(entry);
---

<p>Published on: {entry.data.datePublished}</p>
<Content />
