---
import { render } from 'astro:content';
import { getCollection } from 'astro:content';
import Prose from '~/components/Prose.astro';
import Layout from '~/layouts/Layout.astro';

export const prerender = true;

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
	<p>Published on: {post.data.datePublished}</p>
	<Prose>
		<Content />
	</Prose>
</Layout>
