---
import { getCollection } from 'astro:content';
import BlogPostCard from '../../components/BlogPostCard.astro';
import Layout from '~/layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';

const newestFirst = (a: CollectionEntry<'blog'>, z: CollectionEntry<'blog'>) =>
	z.data.datePublished.getTime() - a.data.datePublished.getTime();
const posts = (await getCollection('blog')).sort(newestFirst);
---

<Layout>
	<div class="container mx-auto px-4 py-8">
		<h1 class="mb-8 text-3xl font-bold">Our Blog</h1>
		<div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
			{
				posts.map((post) => (
					<BlogPostCard
						title={post.data.title}
						description={post.data.seoDescription || ''}
						date={post.data.datePublished}
						url={`/blog/${post.data.slug}`}
						cover={post.data.cover}
					/>
				))
			}
		</div>
	</div>
</Layout>
