---
import { Icon } from 'astro-icon/components';
import type { CollectionEntry } from 'astro:content';
import { twMerge } from 'tailwind-merge';

export interface Props {
	previousPost?: CollectionEntry<'blog'>;
	nextPost?: CollectionEntry<'blog'>;
	class?: string;
}

const { previousPost, nextPost, class: classes } = Astro.props;
---

<nav class={twMerge('flex flex-col md:flex-row justify-between gap-4', classes)}>
	{
		previousPost && (
			<a
				href={`/blog/${previousPost.id}`}
				class="group flex items-start gap-2 text-left transition-colors hover:text-indigo-800 md:max-w-[45%]"
			>
				<Icon name="lucide:arrow-left" class="mt-1 shrink-0" />
				<div>
					<span class="block text-sm text-slate-500">Previous Post</span>
					<span class="line-clamp-3 font-semibold">{previousPost.data.title}</span>
				</div>
			</a>
		)
	}
	{
		nextPost && (
			<a
				href={`/blog/${nextPost.id}`}
				class="group ml-auto flex items-start gap-2 text-right transition-colors hover:text-indigo-800 md:max-w-[45%]"
			>
				<div>
					<span class="block text-sm text-slate-500">Next Post</span>
					<span class="line-clamp-3 font-semibold">{nextPost.data.title}</span>
				</div>
				<Icon name="lucide:arrow-right" class="mt-1 shrink-0" />
			</a>
		)
	}
</nav>
