---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

interface Props extends HTMLAttributes<'div'> {}

const { class: classes, ...rest } = Astro.props;
---

<div
	class={twMerge(
		'relative prose prose-lg prose-headings:text-slate-900 prose-a:text-indigo-600 prose-a:decoration-indigo-300 hover:prose-a:text-indigo-800 hover:prose-a:decoration-indigo-500 prose-img:rounded-xl wrap-break-word prose-code:max-w-screen',
		classes,
	)}
	{...rest}
>
	<slot />
</div>

<style is:global>
	.expressive-code {
		max-width: calc(100vw - 2rem);
		overflow-x: auto;
		display: block;
	}
</style>
