---
interface Props {
	headings: {
		depth: number;
		slug: string;
		text: string;
	}[];
}

const { headings } = Astro.props;
---

<nav class="sticky top-24 max-h-[calc(100vh-8rem)] w-64 overflow-auto">
	<ul class="space-y-2">
		{
			headings.map((heading) => (
				<li
					class:list={[
						'hover:text-blue-600',
						{
							'pl-4': heading.depth === 3,
							'pl-6': heading.depth === 4,
							'pl-8': heading.depth === 5,
							'pl-10': heading.depth === 6,
						},
					]}
				>
					<a href={`#${heading.slug}`} class="block text-sm transition-colors duration-200">
						{heading.text}
					</a>
				</li>
			))
		}
	</ul>
</nav>
