---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

interface Props extends HTMLAttributes<'a'> {}

const { href, class: className, target, ...rest } = Astro.props;
---

<a
	{href}
	{target}
	class={twMerge('text-blue-700 transition-colors hover:text-blue-600 hover:underline', className)}
	{...rest}
>
	<slot />
</a>
